/***************************************
 *              ABOUT
 ***************************************/
$font: 'Quantico', 'Hiragino Kaku Gothic ProN', "Hiragino Sans", Meiryo, sans-serif;
@import "mixin";

.about {
  height: 100vh;
  width: 100vw;
  color: #d6d6d6;
  font-family: $font;
  position: relative;
  overflow: hidden;

  .container {
    @include position-center();
  }

  .countries {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;

    img {
      width: 50px;
      cursor: pointer;
      opacity: .3;
      &.active {
        opacity: 1;
      }
    }
  }

  .display {
    text-align: center;

    .logo {
      opacity: .3;
      &.active {
        opacity: 1;
      }
    }

    .control {
      display: flex;
      margin: 10px 0;
      .play {
        cursor: pointer;
        width: 40px;
        margin-right: 10px;
      }
      .bars{
        display: flex;
        flex-direction: column;
        input[type="range"] {
          width: 70%;
          margin-bottom: 10px;
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;
          outline: none;
          background: #0a3a45; // bg color of bar
          height: 14px;
          border-radius: 10px;
          border: solid 3px #13515f; // line of around bar
          // -webkit-向けのつまみ
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: #13515f;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
          }
          // -moz-向けのつまみ
          &::-moz-range-thumb {
            background: #0a3a45;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
            border: none;
          }
          // Firefoxで点線が周りに表示されてしまう問題の解消
          &::-moz-focus-outer {
            border: 0;
          }
          // つまみをドラッグしているときのスタイル
          &:active::-webkit-slider-thumb {
            box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
          }
        }
        progress {
          width: 200px;
          appearance: none;
          -webkit-appearance: none;
          &::-webkit-progress-value {
            background: #F6A765;
          }
          &::-webkit-progress-bar {
            background: #0a3a45;
          }
        }
      }
    }
  }

  .sentence {
    text-align: center;
    opacity: 1;
    color: #0a3a45;
    font-size: 45px;
    z-index: -1;
    transition: all .5s ease;
    overflow: scroll;
    @include position-center();

    // scroll bar 非表示
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (max-width: 700px) {
  .sentence {
    margin-top: 20px;
    font-size: 40px !important;
    height: 100vh;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0) !important;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .sentence {
    width: 85%;
  }
}
