/***************************************
 *              GALLERY
 ***************************************/
.pictureStore {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #050e15, #0a3a45);
}